body {
    background-color:#fff;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
}
.carousel-item {
    width: 100%;
    transition: 2s linear;
}
.carousel {
    background-image: url('images/personal-banner.png');
    background-position: center;
    background-size: 100%;
}
.carousel:after{
    clear:both;
}
.display-4 {
    color: #fff;
    font-size: 2em;
}
.jumbotron {
    background-color: #98fcfc;
}
.mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: unset;
}
.mt-n1 {
    margin-top: -0.25rem !important;
  }
.navbar {
    clear: both;
}
.navbar-brand img {
    max-height: 50px;
}
.bg-pick{
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}
.nav-link {
    color: #fff!important;
}
@media only screen and (min-width: 600px){
header {
}
}
.jumbotron{
    margin-top: 0%;
}